name: Spell Check

on:
  push:

jobs:
  spellcheck:
    name: Check for spelling errors
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.11.1"

      - name: Install cspell
        run: yarn add cspell

      - name: Run cspell
        run: yarn format:cspell
